/* Dark Mode Styles */
.darkMode {
  background-color: #222;
  color: #f2f2f2;
}
.darkMode button, .darkMode input{
  background-color: #0f0f0f;
  color: #f2f2f2;
  border: 1px solid rgba(68, 68, 68, 0.8);
  padding: .25rem;
  border-radius: .1875rem;
}
.darkMode button:hover, .darkMode input:hover {
  background-color: #181818;
}
.darkMode td, .darkMode th {
  border: 1px solid #444;
  background-color: #0f0f0f;
}
.darkMode th {
  background-color: black;
} /* End of Dark Mode */

#content {
  display: none;
}
/* Forum */
#testForm {
  text-align: center;
}
button {
  width: 5.4rem;
  display: inline;
  margin: 20px auto;
}
#testForm p {
  margin-top: 5rem;
}
#runAgainP {
  display: none;
}
#darkModeButton {
  margin-left: .25rem;
}

/* Loading */
#loading {
  display: none;
  font-size: 3rem;
}
.dots {
  display: inline-block;
  width: 20px;
  text-align: left;
}
.dots span {
  animation: blink 1s infinite;
}
.dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.dots span:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

/* Main Content */
body {
  font-family: Arial, sans-serif;
}
h1 {
  text-align: center;
}
h2 {
  margin-top: 40px;
}
p {
  margin-bottom: 0;
}
ul, li {
  margin-top: 8px;
}
table {
  width: 75%;
  border-collapse: collapse;
  font-size: 0.8em;
  margin: 0 auto;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
.bold {
  font-weight: bold;
}
.ranking {
  margin-bottom: 20px;
}
#tableAndHeader h2 {
  text-align: center;
  margin-top: 0;
}
#tableButton {
  margin-bottom: 0;
}
#resultsTable {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 0.8em;
  width: 40rem;
  max-width: 80%;
}
#resultsTable td {
  width: 30%;
}
#resultsTable td:first-child {
  width: 10%;
}
.indent {
  display: inline-block;
  margin-left: 2.5rem;
}

@media (max-width: 37.5rem) {
  #loading {
    font-size: 2rem
  }
  #darkModeButton {
    margin-top: 0;
  }
}
@media (max-width: 26.5625rem) {
  #loading {
    font-size: 1.5rem
  }
}
